* {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

.top {
    background-color: lightblue;
}

/* HEADER */
header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    align-items: end;
    /* border-bottom: solid 1px #ddd; */
    column-gap: 8px;
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 5px;
}

header span {
    font-size: 1.2rem;
    /* color: ; */
    padding-bottom: 3px;
}

/* HAMBURGER */
.hamburger {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before {
    content: "\2630";
}

.hamburger.show::before {
    content: "\00d7";
}

/* NAVIGATION */
.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: .8rem 10px;
    color: #000;
    text-decoration: none;
    border-bottom: solid 1px #ddd;
}

.navigation li.current {
    background-color: orange;
}

.navigation a:hover {
    background-color: lightblue;
}

/* MAIN */
h1 {
    text-align: center;
}

.menu {
    text-align: center;
    margin: 0.5rem;
}

/* HOME */
.hero {
    position: relative;
}

.hero img {
    width: 100%;
}

.hero button {
    position: absolute;
    width: 100px;
    height: 30px;
    bottom: 5%;
    right: 5%;
}

.event, .current-weather, .forecast {
    border: solid thin;
    margin: 0.3rem;
    padding-left: 1rem;
}

/* CARDS */
.grid, .spotlight {
	display: grid;
	grid-gap: 0.5rem;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    text-align: center;
}

.grid section, .spotlight section {
    background-color: #ddd;
}

.list {
    display: flex;
    flex-direction: column;
}

.list section {
    display: grid;
    grid-template-columns: 1.75fr 2fr 0.75fr 2fr;
}

.list section:nth-child(odd) {
	background-color: #ddd;
}

.bottom {
    background-color: lightblue;
}

/* FORM */
form {
    margin: 1rem 2%;
}

form label {
    display: block;
    font-size: 1rem;
    padding-top: .2rem;
}

input[type=text],
input[type=tel],
input[type=email],
select,
textarea {
    display: block;
    margin: .1rem 0 1rem 0;
    padding: .3rem;
    border: 1px solid #999;
    border-radius: 4px;
    font-size: 1rem;
    color: #3D405B;
    width: 250px;
}

input[type=text],
input[type=tel],
input[type=email],
select {
    border-left-width: 5px;
    border-left-color:#555;
}

textarea {
    height: 100px;
}

input:required {border-left-color: #d70000;}
input:focus {border-left-color: black; outline:none;}
input:required:valid{border-left-color: green;}

input[type=submit] {
    border: none;
    text-align: center;
    background-color: #3D405B;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 2rem 0;
    font-size: 1.2rem;
    appearance: none;
}

@keyframes fadeColor {
    0% {
        background-color: lightblue;
    }
    50% {
        background-color: lightgreen;
    }
    100% {
        background-color: lightblue;
    }
}

.join-card {
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    border: 1px solid #999;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    height: 150px;
    margin: 1rem;
    animation-name: fadeColor;
    animation-iteration-count: infinite;
    animation-duration: 4s;
}

.join-card button {
    width: 100px;
    height: 30px;
}

/* FOOTER */
footer {
    padding: 1rem 10px;
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: #ccc solid 1px;
    border-radius: 22px;
}

.social img {
    width: 22px;
    height: 22px;
}

.social a:hover {
    background-color: #ddd;
}