@media only screen and (min-width: 38rem) {
    header, main, nav, footer {
        margin: 0 auto;
    }

    .top {
        display: grid;
        grid-template-columns: auto auto;
    }

    header {
        grid-template-columns: 24px auto;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
        border-bottom: solid 1px #eee;
    }

    .navigation ul {
        display: flex;
    }

    .navigation a {
        border: none;
    }

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .home-main {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
    }

    .grid {
        grid-template-columns: 1fr 1fr 1fr;
    }

    #form-main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .places-card {
        grid-template-areas:
        "image name"
        "image location"
        "image description"
        "image button";
    }

    .places-card img {
        width: 300px;
    }
}

@media only screen and (min-width: 64rem) {
    #places {
        grid-template-columns: 1fr 1fr;
    }
}