:root {
    --onyx: #000f08ff;
    --jet-black: #1c3738ff;
    --charcoal: #4d4847ff;
    --mint-cream: #f4fff8ff;
    --cool-steel: #8baaadff;
}

* {
    font-family: "Playwrite NZ Basic", cursive;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.top, footer {
    background-color: var(--jet-black);
    color: var(--mint-cream);
}

/* HEADER */
header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    align-items: end;
    column-gap: 8px;
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 5px;
}

header span {
    font-size: 1.2rem;
    padding-bottom: 3px;
}

/* HAMBURGER */
.hamburger {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before {
    color: var(--mint-cream);
    content: "\2630";
}

.hamburger.show::before {
    color: var(--mint-cream);
    content: "\00d7";
}

/* NAVIGATION */
.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: .8rem 10px;
    color: var(--mint-cream);
    text-decoration: none;
}

.navigation li.current a {
    color: var(--onyx);
    background-color: var(--mint-cream);
}

.navigation a:hover {
    color: var(--onyx);
    background-color: var(--mint-cream);
}

/* MAIN */
main {
    background-color: var(--cool-steel);
    color: var(--onyx);
}

h1 {
    text-align: center;
    margin: 0;
}

/* FOOTER */
footer {
    padding: 1rem 10px;
}

footer div p {
    margin: 1rem;
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: #ccc solid 1px;
    border-radius: 22px;
}

.social img {
    width: 22px;
    height: 22px;
}

.social a:hover {
    background-color: #ddd;
}

/* HOME */

/* DISCOVER */
#book {
	display: grid;
	grid-gap: 0.5rem;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    text-align: center;
}

#book section {
    border: solid 1px #000;
    border-radius: 8px;
}

/* FORM */
form {
    margin: 1rem 2%;
}

form label {
    display: block;
    font-size: 1rem;
    padding-top: .2rem;
}

input[type=text],
input[type=tel],
input[type=email],
textarea {
    display: block;
    margin: .1rem 0 1rem 0;
    padding: .3rem;
    border: 1px solid #999;
    border-radius: 4px;
    font-size: 1rem;
    color: #3D405B;
    width: 250px;
}

input[type=text],
input[type=tel],
input[type=email] {
    border-left-width: 5px;
    border-left-color:#555;
}

textarea {
    height: 100px;
}

input:required {border-left-color: #d70000;}
input:focus {border-left-color: black; outline:none;}
input:required:valid{border-left-color: green;}

input[type=submit] {
    border: none;
    text-align: center;
    background-color: #3D405B;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 2rem 0;
    font-size: 1.2rem;
    appearance: none;
}