h1 {
    text-align: center;
}

#cards {
	display: grid;
	grid-gap: 0.5rem;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    text-align: center;
}

#cards section {
    background-color: lightblue;
    border: thin solid;
}